In [180]:
from bs4 import BeautifulSoup
import requests

url = 'https://bank.gov.ua/NBU_Exchange/exchange?date=30.10.2023'
r = requests.get(url)
html_doc = r.text
soup = BeautifulSoup(html_doc, 'html.parser')

# Find all <ROW> elements
row_elements = soup.find_all('row')

for row in row_elements:
    currency_code_element = row.find('currencycodeL')
    amount_element = row.find('amount')

    if currency_code_element and amount_element:
        currency_code = currency_code_element.text
        amount = amount_element.text

        if currency_code == 'USD':
            print(f'Amount for USD: {amount}')

In [155]:
from bs4 import BeautifulSoup
import requests

url = 'https://bank.gov.ua/NBU_Exchange/exchange?date=14.03.2018'
r = requests.get(url)
html_doc = r.text
soup = BeautifulSoup(html_doc, 'html.parser')

# Find all <ROW> elements
row_elements = soup.find_all('row')

for row in row_elements:
    currency_code_element = row.find('currencycodel')
    amount_element = row.find('amount')
    units_element = row.find('units')

    if currency_code_element and amount_element and units_element:
        currency_code = currency_code_element.text
        amount = amount_element.text
        units = units_element.text

        if currency_code == 'USD':
            print(f'Amount for USD: {amount} / {units}')

Amount for USD: 2591.5887 / 100

In [186]:
from bs4 import BeautifulSoup
import requests

from datetime import date, timedelta
start_dt = date(2018, 3, 13) #13.03.2018
end_dt = date(2018, 3, 15)  # 06.03.2019
delta = timedelta(days=1)

date_list = []

while start_dt <= end_dt:
    date_list.append(start_dt.strftime('%d.%m.%Y'))
    start_dt += delta
print(date_list)

['13.03.2018', '14.03.2018', '15.03.2018']

In [187]:
base_url = 'https://bank.gov.ua/NBU_Exchange/exchange?date={}'

In [188]:
# date_list = []
amount_list_new=[]

In [189]:
for date in date_list_new:
    url_2 = base_url.format(date)
    print(url_2)
    response = requests.get(url_2)
    html_doc = r.text
    soup = BeautifulSoup(html_doc, 'html.parser')

    # Find all <ROW> elements
    row_elements = soup.find_all('row')

    for row in row_elements:
        currency_code_element = row.find('currencycodel')
        amount_element = row.find('amount')

        if currency_code_element and amount_element:
            currency_code = currency_code_element.text
            amount = amount_element.text

            if currency_code == 'USD':
                amount_list.append(amount)

print(amount_list)

https://bank.gov.ua/NBU_Exchange/exchange?date=13.03.2018
https://bank.gov.ua/NBU_Exchange/exchange?date=14.03.2018
https://bank.gov.ua/NBU_Exchange/exchange?date=15.03.2018
['2591.5887', '2591.5887', '2591.5887']

In [166]:
while start_dt <= end_dt:
    f_date = start_dt.strftime('%d.%m.%Y')
    url_2 = base_url.format(f_date)
    response = requests.get(url_2)
    html_doc = r.text
    soup = BeautifulSoup(html_doc, 'html.parser')

    # Find all <ROW> elements
    row_elements = soup.find_all('row')

    for row in row_elements:
        currency_code_element = row.find('currencycodel')
        amount_element = row.find('amount')

        if currency_code_element and amount_element:
            currency_code = currency_code_element.text
            amount = amount_element.text

            if currency_code == 'USD':
                date_list.append(f_date)
                amount_list.append(amount)
#                 print(f'Amount for USD: {amount}')
#                 print(amount, amount_list)
#                 print(start_dt, date_list)
    
    start_dt += delta
    
print(date_list)
print(amount_list)

['13.03.2018', '14.03.2018', '15.03.2018']
['2591.5887', '2591.5887', '2591.5887']

In [107]:
import pandas as pd

In [109]:
print(len(date_list))
print(len(amount_list))

359
359

In [119]:
df = pd.DataFrame({'Data': date_list, 'Currency':['USD']*len(date_list), 'Amount':amount_list})

In [120]:
df.head()

         Data Currency   Amount
0  2018-03-13      USD  36.4216
1  2018-03-14      USD  36.4216
2  2018-03-15      USD  36.4216
3  2018-03-16      USD  36.4216
4  2018-03-17      USD  36.4216

In [133]:
start_dt = date(2018, 3, 13)
start_dt

datetime.date(2018, 3, 13)

In [134]:
f_date = start_dt.strftime('%d.%m.%Y')
f_date

'13.03.2018'

In [191]:
from bs4 import BeautifulSoup
import requests

from datetime import date, timedelta
start_dt = date(2018, 3, 13) #13.03.2018
end_dt = date(2018, 3, 15)  # 15.03.2018
delta = timedelta(days=1)

date_list = []

while start_dt <= end_dt:
    date_list.append(start_dt.strftime('%d.%m.%Y'))
    start_dt += delta

base_url = 'https://bank.gov.ua/NBU_Exchange/exchange?date={}'

amount_list_new=[]

for date in date_list_new:
    url = base_url.format(date)
    print(url)
    response = requests.get(url)
    html_doc = r.text
    soup = BeautifulSoup(html_doc, 'html.parser')

    # Find all <ROW> elements
    row_elements = soup.find_all('row')

    for row in row_elements:
        currency_code_element = row.find('currencycodel')
        amount_element = row.find('amount')

        if currency_code_element and amount_element:
            currency_code = currency_code_element.text
            amount = amount_element.text

            if currency_code == 'USD':
                amount_list.append(amount)

print(amount_list)
print(date_list)

https://bank.gov.ua/NBU_Exchange/exchange?date=13.03.2018
https://bank.gov.ua/NBU_Exchange/exchange?date=14.03.2018
https://bank.gov.ua/NBU_Exchange/exchange?date=15.03.2018
['2591.5887', '2591.5887', '2591.5887', '2591.5887', '2591.5887', '2591.5887', '2591.5887', '2591.5887', '2591.5887']
['13.03.2018', '14.03.2018', '15.03.2018']

In [196]:
from bs4 import BeautifulSoup
import requests
from datetime import date, timedelta

start_dt = date(2018, 3, 13) #13.03.2018
end_dt = date(2019, 3, 6)  # 06.03.2019
delta = timedelta(days=1)

date_list = []

while start_dt <= end_dt:
    date_list.append(start_dt.strftime('%d.%m.%Y'))
    start_dt += delta

base_url = 'https://bank.gov.ua/NBU_Exchange/exchange?date={}'

amount_list = []  # Fix the variable name here
units_list = []

for date_str in date_list:  # Use a different variable name to avoid overwriting date
    url = base_url.format(date_str)
    response = requests.get(url)
    html_doc = response.text  # Fix the variable name here
    soup = BeautifulSoup(html_doc, 'html.parser')

    # Find all <ROW> elements
    row_elements = soup.find_all('row')

    for row in row_elements:
        currency_code_element = row.find('currencycodel')  # Fix the element name here
        amount_element = row.find('amount')
        units_element = row.find('units')

        if currency_code_element and amount_element and units_element:
            currency_code = currency_code_element.text
            amount = amount_element.text
            units = units_element.text

            if currency_code == 'USD':
                amount_list.append(amount)
                units_list.append(units)

In [208]:
import pandas as pd

df = pd.DataFrame({'Date':date_list, 'Currency': ['USD']*len(date_list), 'Units':units_list, 'Amount':amount_list})
df.head()

         Date Currency Units     Amount
0  13.03.2018      USD   100  2592.4612
1  14.03.2018      USD   100  2591.5887
2  15.03.2018      USD   100  2601.3978
3  16.03.2018      USD   100  2627.2654
4  17.03.2018      USD   100  2627.2654

In [206]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359 entries, 0 to 358
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      359 non-null    object
 1   Currency  359 non-null    object
 2   Units     359 non-null    object
 3   Amount    359 non-null    object
dtypes: object(4)
memory usage: 11.3+ KB

In [211]:
df['Units'] = df['Units'].astype(int)
df['Amount'] = df['Amount'].astype(float)
df['Currency_amount'] = df['Amount'] / df['Units']
df.tail()

           Date Currency  Units     Amount  Currency_amount
354  02.03.2019      USD    100  2685.9165        26.859165
355  03.03.2019      USD    100  2685.9165        26.859165
356  04.03.2019      USD    100  2686.2244        26.862244
357  05.03.2019      USD    100  2682.7083        26.827083
358  06.03.2019      USD    100  2676.2376        26.762376

In [212]:
file_name = 'currency_exchange.csv'

df.to_csv(file_name, sep=',', encoding='utf-8')